/* Start a Navbar & Hero Section  */
@media only screen and (max-width: 1024px){
    .featured-text{
        padding: 0;
    }

    .image, .image img{
        width: 320px;
        height: 320px;
    }
}

@media only screen and (max-width: 900px) {
    .nav-button{
        display: none;
    }

    .nav-menu.responsive{
        left: 0;
    }

    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }

    .nav_menu_list{
        flex-direction: column;
    }

    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }

    .social_icons{
        margin-top: 2em;
    }

    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }

    .image, .image img{
        width: 150px;
        height: 150px;
    }

    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-info, .contact-info{
        width: 100%;
    }

    .project-container{
        justify-content: center;
    }

    .project-box{
        width: 80%;
    }
}

@media only screen and (max-width: 540px){
    .featured-name{
        font-size: 40px;
    }

    .project-box{
        width: 100%;
    }

    .form-inputs{
        flex-direction: column;
    }

    .input-field{
        width: 100%;
    }
}
/* End a Navbar & Hero Section  */

/* Start a Skills Section  */
@media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }
    
    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
}


@media (max-width: 1024px) {
    .skill_bar_section .img {
        right: 0px;
        left: 0px;
        width: 100%;
    }

    .skill_bar_section .circle {
        left: -10%;
        bottom: -15%;
        right: 0px;
    }

    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-ipadp-9.wk-tab-10.wk-desk-6.left-one {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 60px;
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-ipadp-9.wk-tab-10.wk-desk-6.left-one {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 0px;
    }

    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-tab-11.wk-desk-6.wk-ipadp-10 {
        min-height: 450px;
    }

    .skill_bar_section .text-blk.skill-name {
        font-size: 18px;
    }

    .skill_bar_section .text-blk.section-head {
        font-size: 30px;
        line-height: 40px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 0px;
    }
}

@media (max-width: 500px) {
    .skill_bar_section .responsive-container-block.big-container {
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
    }

    .skill_bar_section .text-blk.section-head {
        font-size: 26px;
        line-height: 36px;
    }

    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-tab-11.wk-desk-6.wk-ipadp-10 {
        min-height: 75px;
    }

    .skill_bar_section .skills-name-box {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 16px;
        margin-left: 0px;
    }

    .skill_bar_section .skills {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 0px;
    }
}
/* End a Skills Section  */